body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(57, 183, 129, 0.7), rgba(34, 83, 62, 0.7)),
    url('../IMG/Web/fondo2.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho */
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 83, 62, 0.7);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 1%;
    width: 80%;
    margin: 0 auto; /* Centra el form-section */
}

.form-container {
    display: flex;
    flex-direction: row; /* Mantiene las columnas en fila */
    justify-content: space-between;
    width: 100%; /* Cambia el ancho al 80% del contenedor */
    max-width: 1200px; /* Limita el ancho máximo del formulario */
    margin-bottom: 20px; /* Añade espacio debajo del formulario */
}

.form-column, .form-column2 {
    width: 48%; /* Ajusta el ancho de las columnas para que ocupen el espacio disponible */
    box-sizing: border-box;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

.logo {
    max-width: 200px;
    height: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

button {
    background-color: #1cc562;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5; /* Ajusta el line-height */
}

button:hover {
    background-color: #44AF81;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

span {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.login-link {
    margin-left: 20px;
    display: inline-block;
    color: #1cc562;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    line-height: 1.5; /* Asegúrate de que coincida con el botón */
    padding: 10px 20px; /* Añade padding similar al botón */
}

.login-link:hover {
    color: #44AF81;
    text-decoration: underline;
}

h2 {
    font-size: 50px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del h2 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}